<h1> Users </h1>

<table>
  <tr>
    <td> <%= link_to 'Tweets', tweets_path %> <td> |
    <td> <%= link_to 'Hashtags', '' %> <td> |
  </tr>
</table>

<p>
  <%= link_to 'Create a new User', new_user_path %>
</p>

<table>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td> <%= user.handle %> (<%= user.name %>) <td>
        <td> <%= link_to 'Show', user_path(user) %> <td>
        <td> <%= link_to 'Edit', edit_user_path(user) %> <td>
        <td> <%= button_to 'Delete', user_path(user), method: :delete %> </td>
      </tr>
    <% end %>
  </tbody>
</table>