<h1><%= "#{@user.name}, #{@user.handle}" %></h1>
<table>
  <tr>
    <td> <%= link_to 'Return to Users', users_path %> <td> |
    <td> <%= link_to 'Edit', edit_user_path(@user) %> <td> |
    <td> <%= button_to 'Delete', user_path(@user), method: :delete %> </td>
  </tr>
</table>

<% if @user.tweets.any? %>
  <h3>Tweets</h3>
    <ul>
      <% @user.tweets.each do |tweet| %>
        <li>
          <%= "#{tweet.content}" %>

        </li>
      <% end %>
    </ul>
  <% end %>

<% if @user.liked_tweets.any? %> <h1> Tweets liked </h1>
    <ul>
      <% @user.liked_tweets.each do |tweet| %>
        <li>
          <%= "#{tweet.content}" %>
          <%= "#{tweet.user.name}" %>

        </li>
      <% end %>
    </ul>
<% end %>